@model SAT.UI.MVC.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact Us!";
}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs" data-aos="fade-in">
    <div class="container">
        <h2>Contact Us</h2>
        <p>Fill out the form below to contact us with any questions, comments or concerns you have</p>
    </div>
</div><!-- End Breadcrumbs -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="row mt-5">
            <div class="col-lg-8 offset-2 mt-5 mt-lg-0">
                    <form asp-action="Contact">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6 mt-3 mt-md-0">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Subject" class="control-label"></label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <label asp-for="Message" class="control-label"></label>
                            <textarea asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    <div class="text-center form-group"><button type="submit" class="btn btn-success text-white mt-2">Send Message</button></div>
                    </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
