@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Course Details";
}
<body>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Course Details</h2>
                <p>Details on all classes we are currently providing at this time</p>
            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Cource Details Section ======= -->
        <section id="course-details" class="course-details">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-8">
                        <img src="assets/img/course-details.jpg" class="img-fluid" alt="">
                        <h3><strong>School of Rock</strong></h3>
                        <p>
                            Our institution provides numerous courses over all things music. From singing to orchestra, we have it all. Our teachers are experts in their fields, so you don’t have to worry about the quality of education.We have a well-trained tutor on campus that students can contact through email, text message, or in person to get help with their classwork.
                        </p>
                    </div>
                    <div class="col-lg-4">

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Class Support</h5>
                            <p><a href="#">Walter White</a></p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Avg. Course Cost</h5>
                            <p>$126</p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Max Seats Per Course</h5>
                            <p>450</p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>In-Person Tutoring Hours</h5>
                            <p>8:00 am to 5:00 pm</p>
                        </div>

                        <div class="course-info d-flex justify-content-between align-items-center">
                            <h5>Online Tutoring Hours</h5>
                            <p>24/7</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End Cource Details Section -->
        <!-- ======= Cource Details Tabs Section ======= -->
        <section id="cource-details-tabs" class="cource-details-tabs">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Music Theory 101</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Applied Music</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Ensembles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Concert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Orchestra</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>┊<strong>Music Theory 101</strong> ┊ Professor Aline Herring ┊</h3>
                                        <p class="fst-italic">This course provides 4 credit hours.</p>
                                        <p>Learn about all things music in this beginner-friendly <strong>Music Theory 101</strong> course with Professor Herring. This course provides in-depth knowledge into music history and how music is strung together.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/course-details-tab-1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>┊ <strong>Applied Music</strong> ┊ Professor Teri Parks ┊</h3>
                                        <p class="fst-italic">This course provides 3 credit hours.</p>
                                        <p>This course will allow students to pursue a career in music, from music professors to professional musicians. <strong>Applied Music</strong> provides students with real-life skills and experience, with help from Professor Parks, to take into the work field.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/course-details-tab-2.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>┊ <strong>Ensembles</strong> ┊ Professor Oliver Nelson ┊</h3>
                                        <p class="fst-italic">This course provides 2 credit hours.</p>
                                        <p>This course provides teamwork and leadership skills, requiring students to work in small groups. Throughout the semester, students must work together to put together a small concert consisting of 5 songs, with each song being directed by a different student in the group. The <strong>Ensembles</strong> course is led by the students, with Professor Nelson there to help offer guidance to those who need it.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/course-details-tab-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>┊ <strong>Concert</strong> ┊ Professor Dan Sosa ┊</h3>
                                        <p class="fst-italic">This course provides 3 credit hours.</p>
                                        <p>Students work on the vocal side of music in this semester-long class. Students are sorted into 5 groups depending on their vocal ranges. At the end of each semester, the <strong>Concert</strong> course students perform live in the theater to showcase their vocal skills. Once a year, a talent agency sends a scout to watch the performance and a lucky Senior is selected to join their agency</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/course-details-tab-4.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>┊ <strong>Orchestra</strong> ┊ Professor Walton Jarvis ┊</h3>
                                        <p class="fst-italic">This course provides 3 credit hours.</p>
                                        <p>Similar to traditional orchestra groups, the <strong>Orchestra</strong> course teaches students the professionalism needed to perform in an Orchestra, along with perfecting their skills on their instruments with guidance from Professor Jarvis. Once a week, a student in the class gets to perform a solo in front of the class to show off their growth from the previous semester.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/course-details-tab-5.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Cource Details Tabs Section -->

    </main><!-- End #main -->
</body>